PyYAML==3.10
git+https://github.com/lukemarsden/docker-py.git@e2ba8a54935df8d40676529f67b16f5927e51000#egg=docker-py
dockerpty==0.3.3
docopt==0.6.1
requests==2.6.1
six==1.7.3
texttable==0.8.2
websocket-client==0.11.0
