PyYAML==3.10
git+https://github.com/binocarlos/docker-py.git@3ae52cf04ced87578301f66630fa8ca92c6ba359#egg=docker-py
dockerpty==0.3.4
docopt==0.6.1
requests==2.6.1
six==1.7.3
texttable==0.8.2
websocket-client==0.11.0
